fastapi
llama-index 
llama-index-readers-web
langchain
langchain-openai
uvicorn==0.30.6
requests
langchain-community
pydantic
pydantic-core
celery
redis
flower
# Hallucination check (DEV Package)
# trulens
# trulens-apps-langchain
# trulens-providers-langchain
# trulens-providers-openai
